In [2]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

file_path = '/content/drive/MyDrive/Engg680_2024_Term_Project/Project Test/CLOCK IN-OUT DATA.xlsx'

df_data = pd.read_excel(file_path)
arr_data = df_data.to_numpy()

print(df_data)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    Employee_Name  Employee_ID            Designation       Date        Day  \
0           Alice            1                Cleaner   1-2-2023  Wednesday
1            John            9                Cashier   1-2-2023  Wednesday
2         Bradley           13                Manager   1-2-2023  Wednesday
3          Celine           26            Store Clerk   1-2-2023  Wednesday
4            Mike           94  Stocker/Sales/Cashier   1-2-2023  Wednesday
..            ...          ...                    ...        ...        ...
275        Rachel            7  Stocker/Sales/Cashier  14-2-2023    Tuesday
276          Judy           41  Stocker/Sales/Cashier  14-2-2023    Tuesday
277         Clara           22                Manager  14-2-2023    Tuesday
278          Sera            3  Stocker/Sales/Cashier  14-2-2023    Tuesday
279           Sam           12            Store Clerk  14-2-2023    Tuesday

    Clock_In_1 Clock_Out_1
0     17:55:20    19:15:02
1     17:56:10    22:35:00
2          NaN         NaN
3     13:44:25    20:12:23
4     16:20:00    17:30:24
..         ...         ...
275        NaN         NaN
276        NaN         NaN
277   16:24:13    22:03:44
278        NaN         NaN
279        NaN         NaN

[280 rows x 7 columns]

In [3]:

file_path_2 = '/content/drive/MyDrive/Engg680_2024_Term_Project/Project Test/shift.xlsx'
df_shift = pd.read_excel(file_path_2)
arr_shift = df_data.to_numpy()

print(df_shift)

        Unnamed: 0             Unnamed: 1      Monday     Monday.1  \
0   Employee_Name             Designation  Clock_In_1  Clock_Out_1
1            Alice                Cleaner    18:30:00     22:00:00
2             John                Cashier    09:30:00     13:30:00
3         Bradley                 Manager    17:30:00     22:00:00
4           Celine            Store Clerk         NaN          NaN
5             Mike  Stocker/Sales/Cashier    12:00:00     16:00:00
6            Dilan  Stocker/Sales/Cashier    16:00:00     22:00:00
7             Paul  Stocker/Sales/Cashier         NaN          NaN
8            Johan                Cleaner         NaN          NaN
9           Steven  Stocker/Sales/Cashier         NaN          NaN
10           Amara  Stocker/Sales/Cashier    16:00:00     22:00:00
11           Grace                Cashier    18:30:00     22:00:00
12             Sue  Stocker/Sales/Cashier         NaN          NaN
13           Tyler            Store Clerk         NaN          NaN
14         Gregory  Stocker/Sales/Cashier    16:00:00     22:00:00
15        Michelle            Store Clerk         NaN          NaN
16          Rachel  Stocker/Sales/Cashier         NaN          NaN
17            Judy  Stocker/Sales/Cashier         NaN          NaN
18           Clara                Manager         NaN          NaN
19            Sera  Stocker/Sales/Cashier         NaN          NaN
20             Sam            Store Clerk    14:00:00     20:00:00

       Tuesday    Tuesday.1   Wednesday  Wednesday.1    Thursday   Thursday.1  \
0   Clock_In_2  Clock_Out_2  Clock_In_3  Clock_Out_3  Clock_In_4  Clock_Out_4
1          NaN          NaN    18:30:00     22:00:00         NaN          NaN
2     18:30:00     22:00:00    18:30:00     22:00:00    10:00:00     14:00:00
3          NaN          NaN         NaN          NaN    09:30:00     15:30:00
4     14:00:00     20:00:00    14:00:00     20:00:00    14:00:00     20:00:00
5          NaN          NaN    16:00:00     22:00:00         NaN          NaN
6     12:00:00     16:00:00         NaN          NaN         NaN          NaN
7          NaN          NaN    16:00:00     22:00:00         NaN          NaN
8     18:30:00     22:00:00         NaN          NaN    18:30:00     22:00:00
9          NaN          NaN    12:00:00     16:00:00    12:00:00     16:00:00
10         NaN          NaN    12:00:00     16:00:00         NaN          NaN
11    09:30:00     13:30:00    09:30:00     13:30:00         NaN          NaN
12    16:00:00     22:00:00         NaN          NaN    16:00:00     22:00:00
13    14:00:00     20:00:00         NaN          NaN    14:00:00     20:00:00
14         NaN          NaN         NaN          NaN         NaN          NaN
15         NaN          NaN         NaN          NaN         NaN          NaN
16         NaN          NaN         NaN          NaN    16:00:00     22:00:00
17         NaN          NaN         NaN          NaN         NaN          NaN
18    17:30:00     22:00:00         NaN          NaN    15:30:00     22:00:00
19         NaN          NaN         NaN          NaN    16:00:00     22:00:00
20         NaN          NaN    14:00:00     20:00:00         NaN          NaN

        Friday     Friday.1    Saturday   Saturday.1      Sunday     Sunday.1
0   Clock_In_5  Clock_Out_5  Clock_In_6  Clock_Out_6  Clock_In_7  Clock_Out_7
1     18:30:00     22:00:00         NaN          NaN         NaN          NaN
2          NaN          NaN    18:30:00     22:00:00         NaN          NaN
3     15:30:00     22:00:00    15:30:00     22:00:00    09:30:00     15:30:00
4     14:00:00     20:00:00         NaN          NaN         NaN          NaN
5     16:00:00     22:00:00         NaN          NaN         NaN          NaN
6          NaN          NaN         NaN          NaN         NaN          NaN
7          NaN          NaN         NaN          NaN    12:00:00     16:00:00
8          NaN          NaN    18:30:00     22:00:00    18:30:00     22:00:00
9          NaN          NaN    16:00:00     22:00:00         NaN          NaN
10    12:00:00     16:00:00         NaN          NaN         NaN          NaN
11    10:00:00     14:00:00         NaN          NaN    18:30:00     22:00:00
12         NaN          NaN    16:00:00     22:00:00    12:00:00     16:00:00
13    14:00:00     20:00:00         NaN          NaN         NaN          NaN
14    12:00:00     16:00:00         NaN          NaN    16:00:00     22:00:00
15    14:00:00     20:00:00    14:00:00     20:00:00    14:00:00     20:00:00
16         NaN          NaN    12:00:00     16:00:00         NaN          NaN
17         NaN          NaN    12:00:00     16:00:00    16:00:00     22:00:00
18    09:30:00     15:30:00    09:30:00     15:30:00    15:30:00     22:00:00
19         NaN          NaN         NaN          NaN    16:00:00     22:00:00
20         NaN          NaN    14:00:00     20:00:00    14:00:00     20:00:00

In [4]:
import pandas as pd
# Example data
shift = pd.DataFrame({
   'Employee_ID': [1, 2, 3],
   'Scheduled_Start': ['2024-11-19 09:00', '2024-11-19 14:00', '2024-11-19 08:00'],
   'Scheduled_End': ['2024-11-19 17:00', '2024-11-19 22:00', '2024-11-19 16:00']
})
df_data = pd.DataFrame({
   'Employee_ID': [1, 2, 3],
   'Clock_In': ['2024-11-19 09:15', '2024-11-19 14:05', '2024-11-19 07:50'],
   'Clock_Out': ['2024-11-19 17:10', '2024-11-19 22:15', '2024-11-19 15:45']})
# Assuming you intended to print a dictionary
print('Employee_Name': 1, 2, 3)

SyntaxError: invalid syntax (<ipython-input-4-9b9c7a216187>, line 13)